/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]rtifacts/
/[Cc]odeCoverage/
/Assets/AssetStoreTools*

/.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pbd
*.log

*.pibd.meta

sysinfo.txt

*.apk
*.unitypackage
